<!--important meta-->
<link rel="canonical" href="<%- page.canonical||page.url %>" />
<% if (page.redirect) { %>
  <meta http-equiv="refresh" content="1; URL=<%- page.redirect %>">
<% } %>
<meta name="author" content="<%- author_name(page)||author_name(config) %>" />
<meta name="description" content="<%- excerpt(page) %>" />
<meta name="title" content="<%- page.title %>" />
<!--facebook metadata-->
<meta property="og:type" content="article" />
<meta property="og:title" content="<%- page.title||'No Title' %>" />
<meta property="og:url" content="<%- page.url %>" />
<meta property="og:site_name" content="<%- config.webtitle||config.title %>" />
<meta property="og:description" content="<%- excerpt(page) %>" />
<meta property="og:locale" content="<%- get_locale(page) %>" />
<meta property="og:image" content="<%- thumbnail(page) %>" />
<!--article metadata-->
<meta property="article:published_time" content="<%- page.date %>" />
<meta property="article:modified_time" content="<%- page.updated %>" />
<meta property="article:author" content="<%- author_name(page)||author_name(config) %>" />
<% tags(page).forEach(tag => { %>
<meta property="article:tag" content="<%- tag.name %>" />
<% }) %>
<!--twitter metadata-->
<meta name="twitter:card" content="summary" />
<meta name="twitter:image" content="<%- thumbnail(page) %>" />
<!--sitemap rss-->
<link rel="alternate" href="/rss.xml" title="RSS" type="application/atom+xml" />
<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml" />
<!--additional metadata-->
<meta name="generator" content="SBG [github:dimaslanjaka/dimaslanjaka.github.io#compiler]" />
<meta name="page-type" content="<%- page.type %>" />
<!-- icons -->
<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png" />
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png" />
<link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/manifest.json" />
<meta name="msapplication-TileColor" content="#ffffff" />
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
<meta name="theme-color" content="#ffffff" />
<!-- page.noindex <%- page.noindex ? 'true' : 'false' %> -->
<% if (page.noindex) { %>
<meta name="robots" content="noindex" />
<% } %>